### ###
TODO
whats_new.py
test.py
test2.py
Kindle Updater.spec
build-exe.txt
screenshot
releases
_old
kindle-updater_m.py
branch-whats_new
build.bat
.ds_store
.vscode
kindleupdater-windowstaskscheduler.xml
automate/macos/kindle-updater.12h.sh
automate